MARIADB_ROOT_PASSWORD=BitteEinStarkesRootPasswortSetzen
MARIADB_DATABASE=startseite
MARIADB_USER=startseite
MARIADB_PASSWORD=BitteEinStarkesAppPasswortSetzen

SSH_USER=startseite
SSH_PASSWORD=BitteEinStarkesSshPasswortSetzen
SSH_PUBLIC_KEY=ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAA... startseite
